/* src/App.css */
/* .App {
    display: flex;
    justify-content: space-between;
  } */
  
  .box-list-container {
    display: flex;
    width: 100%;
  }
  
  .box-list {
    flex: 1;
    padding: 20px;
  }

  .box-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .box-item h3, .box-item p, .box-item div {
    margin: 5px 0;
  }
  
  .box-item button {
    margin: 0 5px;
  }

  .box-item button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .box-item hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .summary {
    width: 400px;
    padding: 20px;
    border-left: 1px solid #ccc;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
  
  .summary-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  